html {
  font: normal normal 30px/1 "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#gameboard {
  background: #bbada0;
  border-radius: 0.5rem;
  height: 18.5rem;
  margin: 1rem auto;
  position: relative;
  width: 18.5rem;
}

.cell {
  background: rgba(238, 228, 218, 0.35);
  border-radius: 0.5rem;
  float: left;
  height: 4rem;
  margin: 0.5rem 0 0 0.5rem ;
  width: 4rem;
}

.tile {
  position: absolute;
  top: 0; left: 0;
  transition: all 0.2s ease-in-out;

  color: #f9f6f2;
  background: #000;

  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 4rem;
  height: 4rem;
  margin: 0.5rem 0 0 0.5rem ;
  text-align: center;
  width: 4rem;
}

.tile[data-row=r0] { top: 0; }
.tile[data-row=r1] { top: 4.5rem; }
.tile[data-row=r2] { top: 9rem; }
.tile[data-row=r3] { top: 13.5rem; }

.tile[data-col=c0] { left: 0; }
.tile[data-col=c1] { left: 4.5rem; }
.tile[data-col=c2] { left: 9rem; }
.tile[data-col=c3] { left: 13.5rem; }

.tile[data-val="2"]    { background-color: #A032A6 } /*purple*/
.tile[data-val="4"]    { background-color: #2CC418 } /*bright green*/
; }
.tile[data-val="8"]    { background-color: #0016BD } /*royal blue*/
; }
.tile[data-val="16"]   { background-color: #00DED3; } /*teal*/
.tile[data-val="32"]   { background: #F0A8C0; } /*baby pink*/
.tile[data-val="64"]   { background: #a4f39a; } /*pastel green */
.tile[data-val="128"]  { background: #f73141; } /*reddish*/
.tile[data-val="256"]  { background: #b7fffb; } /*pale cyan*/
.tile[data-val="512"]  { background: #F78431; } /*orange*/
.tile[data-val="1024"] { background: #FFF200; } /*m&m yellow*/
.tile[data-val="2048"] { background: #FF00C3; } /*hot pink*/

.game-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(238, 228, 218, 0.73);
  padding-top: 40px;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }
  .game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 222px;
    z-index: 1}
  .game-message .lower {
    display: block;
    margin-top: 29px; }
  .game-message a {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px; }
  /*.game-message {*/
    /*background: rgba(237, 194, 46, 0.5);*/
    /*color: #f9f6f2; }*/
  .game-over, .game-won {
    background: rgba(238, 228, 218, 0.73);
    color: #776e65;
    -webkit-animation: slide-up 1.5s ease-in-out 2500ms;
    -moz-animation: slide-up 1.5s ease-in-out 2500ms;
    animation: slide-up 1.5s ease-in-out 2500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 1}

  .game-message.game-won p, .game-message.game-over p {
    z-index: 1
    -webkit-animation: slide-up 1.5s ease-in-out 2500ms;
    -moz-animation: slide-up 1.5s ease-in-out 2500ms;
    animation: slide-up 1.5s ease-in-out 2500ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
}
